<!DOCTYPE html>
</html>
<head>
  <title>Quiz Manager</title>
  <link href="/../stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    var questions = <%- JSON.stringify(questions) %>;
    var answers = <%- JSON.stringify(answers) %>;
    var categories = <%- JSON.stringify(categories) %>;
    var currentQuiz = <%- JSON.stringify(quiz) %>;
    questions.forEach(function(question, index){
      question.selected = currentQuiz.questions.indexOf(question.questionId) >= 0;
    });
    $(function(){
	     currentQuiz.questions.forEach(function(element, index) {
	       addQuestionToForm(element);
	     });
    });
  </script>
  <script type="text/javascript" src="/../javascripts/all.js"></script>
</head>
<body>
    <div class="page-header"><h2><%=title%></h2></div>
    <div class="page-container">

      <div class="container">
        <form method="post" action="/quizzes/edit/<%=quiz._id%>" onsubmit="return validateQuizForm()" >
          <label style="font-size: 18px;">Quiz Title: &nbsp;</label><input type="text" name="title" value="<%= quiz.title %>" required /></td>
          <br />
          <div class="container" id="questionsContainer" style="margin-top: 8px;">

          </div>
          <br />
          <input type="button" class="btn btn-default" value="Remove last question" onclick="removeQuestionForm()" />
          <br />
          <br />
          <h3>Add a question:</h3>
          <input type="text" id="categoryFilter" placeholder="Question Category" />
          &nbsp; <input type="button" class="btn btn-primary" value="Search" onClick="searchByCategory()" />
          <br />
          <table class="table">
            <thead>
              <tr>
                <th>Question</th>
                <th>Correct Answer</th>
                <th>All answers</th>
                <th>Categories</th>
                <th>Add to quiz</th>
              </tr>
            </thead>
            <tbody id="questionsTable">

            </tbody>
          </table>
          <br />
          <br />
          <label id="addQuestionError" style="display: none; color: red;">*Please add at least one question</label>
          &nbsp; <input type="submit" name="submit" value="Save" />
          <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
        </form>
      </div>

      <%- include ../layouts/footer.ejs %>
